body, h3 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: sans-serif;
  font-weight: 400;
}

@keyframes showBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideBackdrop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dialogWrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  perspective: 1300px;
}

.dialog {
  width: 280px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, .2), 0px 24px 38px 3px rgba(0, 0, 0, .14), 0px 9px 46px 8px rgba(0, 0, 0, .12);
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  will-change: box-shadow;
}

.dialogWrapper::before {
  content: '';
  background: rgba(0, 0, 0, .1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: none;
}

.dialogWrapper.close::before {
  background: transparent;
}

.dialogWrapper.open::before {
  -webkit-animation: showBackdrop .7s ease;
}

.dialogWrapper.hide::before {
  -webkit-animation: hideBackdrop .7s ease;
}

.alertDialog {
  padding: 16px;
  max-height: 70vh;
}

.alertDialogTitle {
  padding: 16px 16px 0;
  font-size: 30px;
}

.alertDialogContent {
  padding: 16px;
}

.alertDialogActions {
  display: flex;
  flex-direction: row-reverse;
  padding: 8px;
}

.alertDialogActions > button {
  margin: 0 8px 0 0;
  padding: 0 8px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.04em;
  position: relative;
  min-width: 64px;
  height: 36px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: rgba(0, 0, 0, .87);
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.alertDialogActions > button:first-child {
  margin-right: 0;
}
